.papelera{
    height: 30px;
    cursor: pointer;
}
.icon1{
    height: 30px;
    cursor: pointer;
}
.task-completed{
    color: gray;
    text-decoration: line-through;
}
.task-pending{
    font-weight: bold;
    color: tomato;
}
.buttoons{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    
}
.likes{
    display: flex;
    justify-content: center;
    
    
}
.count{
    margin: 10px 150px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.textl{
    margin: 25px 30px;
}
.pranks{
    background-color: yellow;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}